*{
  padding: 0;
  margin: 0;
}
#container{
  width: 90%;
  margin: 0 auto;
}
nav ul li{
  display: inline;
}

nav ul li a{
  text-decoration: none;
}

img{
  width: 80%;
  height: auto;
}

table {
  border-collapse: collapse;
  width: 50%;
    font-family: sans-serif;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){
  background-color: lightpink;
}

th{
  background-color: grey;
  color: white;
}

div {
  margin: .4em 0;
}

div label {
  width: 25%;
  float: left;
}
